
<div class="flex justify-center items-center">
    <a class="block flex-none mt-4 mb-4 pl-4 pr-4 shadow-lg rounded-lg bg-blue-200 text-center" target="_blank" href="{{link}}"> 
        
        <div class="flex items-center">
            <div class="flex-none items-center">
                {% if image %} <img src="{{image}}" alt="HTML tutorial" style="height:42px;"> {% endif %}
            </div>
            <div class="flex-grow">
                <span class= "text-2xl font-semibold"> {{text}}<br> 
                    {% if subtext %} <span class="text-white text-sm font-normal">  {{subtext}} </span> {% endif %} </span>
            </div>
        </div>
    </a>
</div>