{% extends "subpage.html" %}
{% block content %}

<h1 class="flex justify-center mt-10">Schwimmsportschule</h1>

<section class="pt-5 bg-white">
  <div class="w-full mx-auto lg:w-[75%] markdown">
    <div class="px-4">

      <h2 class="text-4xl font-semibold mb-5">{{ page.title }}</h2>
      <div class="markdown">
        {{ page.content | safe }}
      </div>
      <form id={{ config.extra.formid }} method="POST" action={{ config.extra.formlink }}>
        <div class="md:flex mb-8">
          <div class="md:w-1/3">
            <legend class="uppercase font-bold text-lg">Angaben Kind</legend>
          </div>
          <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
            <div class="md:flex mb-4 space-y-3 md:space-y-0">
              <div class="md:flex-1 md:pr-3">
                <label class="register_label">Vorname Kind *</label>
                <input class="register_box " type="text" id="vorname_kind" name="vorname_kind" required>
              </div>
              <div class="md:flex-1 md:pl-3">
                <label class="register_label" for="nachname_kind">Nachname Kind *</label>
                <input class="register_box" type="text" id="nachname_kind" name="nachname_kind" required>
              </div>
            </div>
            <div class="mb-4">
              <label class="register_label" for="str_kind">Strasse, Nr. *</label>
              <input class="register_box" type="text" id="str_kind" name="str_kind" required>
            </div>
            <div class="md:flex mb-4 space-y-3 md:space-y-0">
              <div class="md:flex-1 md:pr-3">
                <label class="register_label" for="plz_kind">PLZ *</label></td>
                <input class="register_box" type="text" id="plz_kind" name="plz_kind" required>
              </div>
              <div class="md:flex-1 md:pl-3">
                <label class="register_label" for="ort_kind">Ort *</label>
                <input class="register_box" type="text" id="ort_kind" name="ort_kind" required>
              </div>
            </div>
            <div class="mb-4">
              <label class="register_label" for="geburtsdatum_kind">Geburtsdatum Kind *</label>
              <input class="register_box" type="date" placeholder="dd-mm-yyyy" id="geburtsdatum_kind" name="geburtsdatum_kind" required>
            </div>
          {#<div class="mb-4">
              <label class="register_label" for="ahv_kind">AHV Nr. Kind * (für J&S Anmeldung)</label>
              <input class="register_box" type="text" id="ahv_kind" name="ahv_kind" , placeholder="756.xxxx.xxxx.xx">
            </div>#}
          </div>
        </div>
        <div class="md:flex mb-8">
          <div class="md:w-1/3 mb-5">
            <legend class="uppercase font-bold text-lg">Rechnungsempfänger</legend>
          </div>
          <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
            <div class="mb-4">
              <label class="register_label" for="anrede_rechnung">Anrede</label>
              <input class="register_box" type="text" id="anrede_rechnung" name="anrede_rechnung">
            </div>
            <div class="md:flex mb-4 space-y-3 md:space-y-0">
              <div class="md:flex-1 md:pr-3">
                <label class="register_label" for="vorname_rechnung">Vorname *</label>
                <input class="register_box" type="text" id="vorname_rechnung" name="vorname_rechnung" required>
              </div>
              <div class="md:flex-1 md:pl-3">
                <label class="register_label" for="nachname_rechnung">Nachname *</label>
                <input class="register_box" type="text" id="nachname_rechnung" name="nachname_rechnung" required>
              </div>
            </div>
            <div class="mb-4">
              <label class="register_label" for="tel_rechnung">Telefon *</label>
              <input class="register_box" type="tel" id="tel_rechnung" name="tel_rechnung" required>
            </div>
            <div class="mb-4">
              <label class="register_label" for="email_rechnung">E-Mail *</label>
              <input class="register_box" type="email" id="email_rechnung" name="email_rechnung" required>
            </div>
          </div>
        </div>
        <div class="md:flex mb-8">
          <div class="md:w-1/3">
            <legend class="uppercase font-bold text-lg">Kursangaben</legend>
          </div>
          <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
            <div class="md:flex mb-4 space-y-3 md:space-y-0">
              <div class="md:flex-1 md:pr-3">
                <label class="register_label" for="kurs_prio1">Kurs 1. Prio *</label>
                <select class="register_box" name="prio1" id="kurs_prio1" required> {{
                  macros::kurse_select(data=load_data(path="/kurs23.csv")) }} </select>
              </div>
              <div class="md:flex-1 md:pl-3">
                <label class="register_label" for="kurs_prio2">Kurs 2. Prio *</label>
                <select class="register_box" name="prio2" id="kurs_prio2" required> {{
                  macros::kurse_select(data=load_data(path="/kurs23.csv")) }} </select>
              </div>
            </div>
            <div class="mb-4">
              <label class="register_label" for="level_achieved">Zuvor absolviertes Kurslevel *</label>
              <select class="register_box" name="level_achieved" id="level_achieved" required>
                <option value="-"> neu </option>
                <option value="1"> Level 1 </option>
                <option value="2"> Level 2 </option>
                <option value="3"> Level 3 </option>
                <option value="4"> Level 4 </option>
                <option value="5"> Level 5 </option>
                <option value="6"> Level 6 </option>
                <option value="7"> Level 7 </option>
                <option value="8"> Level 8 </option>
              </select>
            </div>
            <div class="mb-4">
              <label class="register_label" for="noticedfrom">Wie haben Sie von uns erfahren?</label>
              <input class="register_box" type="text" id="noticedfrom" name="noticedfrom">
            </div>
            <div class="mb-4">
              <label class="register_label" for="sibling">Geschwister ebenfalls in einem Schwimmkurs? *</label>
              <input class="register_box" type="text" id="sibling" name="sibling" , placeholder="Ja + Name / Nein" required>
            </div>
            <div class="mb-4">
              <label class="register_label" for="notes">Bemerkungen</label>
              <textarea class="register_box" placeholder="Wichtiges, Krankheiten" id="notes" name="notes" cols="40"
                rows="5"></textarea>
            </div>
          </div>
        </div>
        <p class="flex  justify-center">
          Nach dem klicken auf den "Anmelden“-Button werden Sie kurz auf eine Bestätigungsseite und anschliessend auf die Startseite weitergeleitet.<br>
          Die Anmeldebestätigung erfolgt manuell per Mail bei der Kurseinteilung und kann bis zu drei Tage dauern.
          Die Anmeldungen werden in der Reihenfolge ihres Eingangs bearbeitet – wir finden für alle eine passende Lösung. 
        </p>
        <button
          class="w-full shadow-inner p-4 border-0 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
          type="submit">Anmelden</button>
      </form>


    </div>
</section>

<div class="pt-10 mb-0 pb-0 ">
  <svg class="block" viewBox="0 0 200 6" transform="matrix(-1,0,0,1,0,0)">
    <defs>
      <pattern id="Wave3" x="0" y="0" width="100" height="6" patternUnits="userSpaceOnUse">
        <path d="M0 6 0 2C20 5 39 7 55 3 71-1 87 0 100 2l0 4z" id="path4" fill="rgb(191 219 254)" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#Wave3)" />
  </svg>
</div>
</div>



{% endblock %}