{% extends "subpage.html" %}


{% block content %}
    {% set kursdaten_split = macros::custom_coloring(s=page.content) | split(pat="<hr />") %}   {# Muss im Content Block stehen, sonst render fehler#}

    <hr class="border-t border-gray-300 my-8 w-full">

    <div class="mx-auto w-full lg:w-[75%] markdown">
        <h2>Kursdaten</h2>
        <div class="flex flex-wrap justify-center">
            <div class="w-full">
                <div class="text-left mt-5 markdown">
                    {{kursdaten_split.0| safe}}
                </div>
            </div>

            <div class="w-full overflow-x-auto">
                <div class="">
                    <!-- Kursdaten  Tabellen laufende Kurse-->
                    <div class="markdown skg_kursdaten">
                        {{ kursdaten_split.1 | safe }}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mx-auto  mt-6 w-full lg:w-[75%] markdown">
        {{ kursdaten_split.2 | safe }}

        {{ macros::kurse_time(data=load_data(path="/kurs23.csv")) }}

        <div class="flex justify-center items-center">
            <a class="block w-6/12 pt-4 pb-4 shadow-lg rounded-lg bg-blue-200 mb-5 text-2xl font-semibold text-center "
                href="schule/anmeldung"> zur Anmeldung </a>
        </div>
    </div>

    {#
        <div class="mx-auto w-full lg:w-[75%] markdown">
            <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-6/12">
                    <div class="text-left mt-5">
                        {{ schule_split.1 | safe }}
                    </div>
                </div>
                
                <div class="w-full lg:w-6/12">
                    <div class="text-left mt-5">
                        {{ schule_split.2 | safe }}
                    </div>
                </div>
            </div>
        </div>
        
        #}


{% endblock %}