{#<!-- Top content -->
<!--
<div class="relative flex flex-col justify-between">
  <div class="relative z-10 w-full">
    <a href="/" class="absolute top-0 left-0 z-10">
      <img src="/images/base/logo_mit_schrift.jpg" class="max-h-[80px] md:max-h-[100px] lg:max-h-[200px]"
        alt="Logo Schwimmklub Gelterkinden" />
    </a>
    <svg viewBox="0 0 200 25" transform="matrix(1,0,0,-1,0,0)">
      <defs>
        <pattern id="Wave" x="0" y="0" width="100" height="26" patternUnits="userSpaceOnUse">
          <path d="M0 25 0 6C20 9 38 11 55 7 72 4 87 4 100 6l0 19z" fill="{{config.extra.color_main}}" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#Wave)" />
    </svg>
  </div>
</div>
-->#}



<header class="text-gray-600 body-font bg-blue-100">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
	<!--<a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
	  <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
		<path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
	  </svg>
	  <span class="ml-3 text-xl">Tailwind Snippets</span>
	</a>-->
  <img src="{{ get_url(path='images/base/logo_mit_schrift.jpg') }}" class="max-h-[80px] md:max-h-[100px]"
        alt="Logo Schwimmklub Gelterkinden" />
   <!--
    <img src="{{ get_url(path='images/logo.png', relative=true) }}" alt="Logo">
    <img src="../images/base/logo_mit_schrift.jpg" class="max-h-[80px] md:max-h-[100px]"
    alt="Logo Schwimmklub Gelterkinden" />
    --> 
	<nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
	  <a class="mr-5 hover:text-gray-900">Anmeldung</a>
	</nav>
	<!--<button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
	  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
		<path d="M5 12h14M12 5l7 7-7 7"></path>
	  </svg>
	</button>-->
  </div>
</header>
{# https://yqnn.github.io/svg-path-editor/ #}
<div class="pt-0">
  <svg class="block" viewBox="0 0 200 6" transform="matrix(1,0,0,-1,0,0)" width="100%">
    <defs>
      <pattern id="Wave22" x="0" y="0" width="100" height="8" patternUnits="userSpaceOnUse">
        <path d="
        M0 4 0 6H100V1C85 6 63-3 51 2 39 7 20-3 0 1Z
        " id="path4" fill="rgb(219 234 254)" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#Wave22)" />
  </svg>
</div>